/* Hide if you don't have message perms */
.channelTextAreaDisabled-8rmlrp>div {
    display: none;
}

/* Transparent background */
.scrollableContainer-2NUZem{
  background-color: transparent !important;
}
.jumpToPresentBar-G1R9s6 {
    background-color: transparent !important;
}