/* Colour */
#app-mount .spoilerText-3p6IlD {
    background-color: rgb(255, 255, 255, 0.15);
}

/* Reveal on hover */
.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
        opacity: 1;
        border-radius: 3px;
        background-color: #4a4d53;
}