/*
span.px-10SIf7.botTag-2WPJ74 {
    background: rgb(50,130,250)
}
span.px-10SIf7 .botText-1526X_ {
    font: 16px cursive;
}
span.px-10SIf7 .botText-1526X_ {
    text-indent: -999px;
}
span.px-10SIf7 .botText-1526X_:after {
    text-indent: 0px;
    float: left;
    content: 'ඞ';
}
*/