.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #aa2210;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #c9990a;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #0ea70e;}