/* links */
.anchor-3Z-8Bb {
  color: #FF007F !important;
}
/* Member list */
.membersGroup-v9BXpm::after{
  color: #FF007F !important;
}
.container-2Pjhx- .activityText-yGKsKm>strong, .container-2Pjhx- .activityText-OW8WYb>strong {
  color: #FF007F !important;
}
/* channel */
.name-3l27Hl::before, .side-8zPYf6 .header-2RyJ0Y::before, .membersGroup-v9BXpm::before, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::before {
  background: linear-gradient(to left, #FF007F 50%, transparent) !important;
}
.name-3l27Hl, .side-8zPYf6 .header-2RyJ0Y, .membersGroup-v9BXpm, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 {
  color: #FF007F !important;
}
.name-3l27Hl::after, .side-8zPYf6 .header-2RyJ0Y::after, .membersGroup-v9BXpm::after, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::after {
  background: linear-gradient(to right, #FF007F 50%, transparent) !important;
}
.addButtonIcon-2CbG1X {
  color: #FF007F
}
/* progress bar color */
.barInner-3NDaY_ {
  background-color: #FF007F !important
}
.button-1w5pas {
  color: #FF007F !important;
}
/* Talking indicators */
.avatarSpeaking-2c8-9i ,.avatarSpeaking-2IGMRN{
    box-shadow: inset 0 0 0 2px #FF007F,inset 0 0 0 3px var(--background-secondary) !important;
}
.speaking-WDn8Wm {
    box-shadow: inset 0 0 0 2px #FF007F,inset 0 0 0 3px var(--background-secondary) !important;
}
/* Unread channel */
.unread-2lAfLh {
    background-color: #FF007F;
}
.modeUnread-1qO3K1 .name-23GUGE{
    color: #FF007F;
}
/* Selected channel */
.modeSelected-346R90 .name-23GUGE {
    color: #0FF;
}
/* Hover channel */
.channelName-2YrOjO:hover {
    color: #0FF !important
}
/* buttons */
.appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    color: #FF007F;
    background: transparent;
    border-color: transparent;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp {
    background-color: #ff007f;
    color: black;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
    background-color: #0FF;
}
/* Themes manager text */
.defaultColor-1_ajX0 {
    color: #FF007F
}