/*Friends Tab*/
#app-mount .item-3HknzM {
  color: white;
}
#app-mount [aria-controls='ALL-tab'] {
  order: -1;
  background-color: rgb(0, 118, 187);
}
#app-mount [aria-controls='ONLINE-tab'] {
  background-color: rgb(29, 185, 84);
}
#app-mount [aria-controls='PENDING-tab'] {
  background-color: rgb(250, 166, 26);
}
#app-mount [aria-controls='BLOCKED-tab'] {
  background-color: rgb(255, 42, 0);
}
#app-mount [aria-controls='ADD_FRIEND-tab'] {
  background-color: rgb(209, 41, 255) !important;
}
/*Libary Tab*/
#app-mount .item-PXvHYJ {
  color: white;
}
#app-mount [aria-controls='/library-tab'] {
  order: -1;
  background-color: rgb(0, 118, 187);
}
#app-mount [aria-controls='/library/settings-tab'] {
  background-color: rgb(29, 185, 84);
}