.userPopout-xaxa6l { width: 400px !important; }
.headerText-15Q25Z.userSelectText-1o1dQ7 { margin-left: 160px !important; }
.avatar-37jOim.wrapper-3t9DeA { width: 128px !important; height: 128px !important; }
.activity-3v9l4T { padding: 16px 16px 16px; }
.body-3iLsc4 { padding: 12px 12px 12px 12px; }
.size12-3R0845 { font-size: 0px; }
.avatarHint-2A3RNb,.textarea-2r0oV8,.bodyTitle-3FWCs2,.footer-1N3bR3,.setIdentityLink-3lcnXW { display: none }
.profileBannerPremium-35utuo { width: auto; }
.headerTop-2cWpdB { padding-top: 48px; padding-bottom: 24px; }
.customStatus-oN4ZZY { margin-top: 20px; padding-bottom: 5px; }
.customStatusEmoji-3a2-Zo { width: 128px !important; height: 128px !important; margin-left: 119px; margin-bottom: 5px;}
.customStatusText-1vtUsN { display: block; text-align: center; }
.aboutMeSection---MkQa { padding-top: 20px; }

/*If the person dosn't have a premium profile */
.userPopout-xaxa6l .banner-2QYc2d:not([class*="Premium"]) {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow-banner 18s ease infinite;
}
@keyframes rainbow-banner {
  0% {background-position: 0 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0 82%}
}