.emojiSection-3Fb9ix img {
    margin: auto;
    min-width: 100%;
    height: auto !important;
}
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
    flex: wrap;
    flex-direction: column !important;
}
.emojiName-27Bjxw {
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}

.emoji.jumboable {
    width: 128px;
    height: auto;
}