.search-2oPWTC .searchBar-3dMhjb {
    width: 30px;
    transition-duration: 300ms;
}
.search-2oPWTC .searchBar-3dMhjb:hover {
    width: 200px;
}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {
    width: 244px !important;
}
.search-2oPWTC .icon-38sknP {
    cursor: pointer;
}